/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container1 {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 10px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 92%; background-color: #04AA6D;} /* Green */
.css {width: 83%; background-color: #2196F3;} /* Blue */
.js {width: 71%; background-color: #f44336;} /* Red */
.php {width: 63%; background-color: #808080;} /* Dark Grey */

